{
"Key": "??7?????????????????????????????",
"Token": "????????????????????????????????????????????????????????????????",
"GithubSecret": "?????????????",
"MaxCommentSize": 1000,
"Admins": ["admin@admin.com"]
}
